:root {
    color-scheme: light dark;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

video {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}
