:root {
    color-scheme: light dark;
}

body {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}

main {
    max-width: min(80ch, 100% - 4rem);
    margin-inline: auto;
}

p {
    text-wrap: pretty;
}

a[rel="me"] {
    display: none;;
}

video {
    width: 100%;
}

@media (prefers-color-scheme: light) {
  a {
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
    a {
        color: white;
    }
}
